name: Pester

on:
  pull_request:
    paths:
    - 'tests/**'
  workflow_dispatch:

jobs:
  test:
    name: Run tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-20.04, windows-latest, windows-2019, macos-latest, macos-11]
    steps:
    - uses: actions/checkout@v2
    - name: Invoke Pester
      shell: pwsh
      run: Invoke-Pester
